/*Philosopher*/
@font-face {
    font-family: "Philosopher";
    src:  url(fonts/philosofer/Philosopher-Bold.ttf);
    font-weight: bold;
 }

 @font-face {
    font-family: "Philosopher";
    src:  url(fonts/philosofer/Philosopher-Regular.ttf);
    font-weight: normal;
 }

 /*@font-face {
    font-family: "Philosopher";
    src:  url(/fonts/philosofer/Philosopher-BoldItalic.ttf);
    font-weight: 800;
 }*/

 /*Pastel Script*/
 @font-face {
    font-family: "OleoScript";
    src: url(fonts/pastelScript/OleoScript-Regular.ttf);
    font-weight: normal;
 }

 @font-face {
    font-family: "OleoScript";
    src: url(fonts/pastelScript/OleoScript-Bold.ttf);
    font-weight: bold;
 }


 /*Antonio*/
 @font-face {
    font-family: "Antonio";
    src: url(fonts/antonio/Antonio-VariableFont_wght.ttf);
    /*font weigth em 100-ligth 400-regular 800-bold*/
 }

  /*SquarePeg*/
  @font-face {
    font-family: "SquarePeg";
    src: url(fonts/squarePeg/SquarePeg-Regular.ttf);
    font-weight: normal;
 }

