
* {
  margin: 0;
overflow-x: hidden;
}

/*CABEÇALHO*/
 .parte1{
  position: relative;
  width: auto;
  margin: 0;
 }
 .parte2{
  position: relataive;
  align-items: center;
  justify-content: center;
  place-items: center;
  justify-self: center;
  margin: 0%;
  z-index: 10;
  
 }
 .parte1 svg{
  width: 100vw;
  height: auto;
 }

 #efeitoDoMenu {
  text-align: center;
 }
 #efeitoDoMenu svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 15%;
  height: auto;
 }
#botaoMenu{
  text-align: center;
}
#botaoMenu svg {
  left: 50%;
  width: 4%;
  height: auto;
  transform: translate(-50%,0%);
  position: absolute;
    
 }

/*LISTAGEM DE ARTIGOS*/
 .container{
  position: relative;
 }
 .grid-container{
  position: relative;
  z-index: -1;
 }
.grid-item {
  position: relative;
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Alternating background images using nth-child selector */
.grid-item:nth-child(odd) {
  background-image: url('PecasArmario/tudoJunto_01.svg');
}

.grid-item:nth-child(even) {
  background-image: url('PecasArmario/tudoJunto_02.svg');
}





/*LATERAIS DO MOVEL*/
.lateralEsq svg{
  position: absolute;
  top:0;
  left: -50px;
  width: auto;
  height: 100%;
  z-index: 20;
}
.lateralDir{
  width: 5vw;
  height: 100%;
}
.lateralDir svg{
  transform: scaleX(-1); /* Flip horizontally */
  position: absolute;
  top:0;
  right: -50px;
  width: auto;
  height: 100%;
  z-index: 20;
}














/*FOOTER*/

footer svg{
  position: relative;
  width: 100vw;
  height: auto;

}