
* {
  margin: 0;
  padding: 0;
  margin: 0;
}
body{
  overflow: scroll;
}
/*MESCHER NAS CORES*/
:root{
  --branco:rgb(230, 230, 230);
  --castanho: #faf3e9ff;
  --castanho2: #ddd6c1ff;
  --castanho3: #c2b7a9ff;
  --castanho4: #897d6fff;
}

/*CABEÇALHO*/
  header{
    display: grid;
  }

 .parte1{
  position: relative;
  width: auto;
  margin: 0;
  overflow: hidden;
 }
 .parte2{
  position: relative;
  display: flex;

  width: 100px;
  height: 50px;

  align-items: center;
  justify-content: center;
  place-items: center;
  justify-self: center;
  margin: 0%;
  z-index: 10;
  overflow: hidden;
 }
 .parte1 svg{
  width: 100vw;
  height: auto;
 }

 #efeitoDoMenu {
  text-align: center;
 }
 
#botaoMenu{
  width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.headerMenu{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  z-index: 40;
}


/*menu paginas individuais e about*/
.headerMenu2{
  z-index: 10;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
#efeitoDoMenu2 {
  z-index: -1;
  z-index: 10;
  width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
 }

 .botoesMenu2{
  z-index: 10;
  position: relative;
 }

 
 
 .grid-contain-2{
  width: 100%;
  height: 40vh;

  display:block;

  position: relative;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 }

 .none{
  display: none !important;
 }

 .contentLoading{
   width: 100%;
   height: calc(100% - 22px);

   display: block;
   position: absolute;
   
   transform: translate(-50% ,0);

   bottom: 22px;
   left: 50%;

   background-color: #2424248a;

   animation: infinite carregar 2000ms;
 }

 .contentAviso{
   width: 50%;
   height: 50%;

   display: flex;
   position: absolute;

   transform: translate(-50% , 0);
   color: var(--castanho);

   font-family: 'Antonio',sans-serif;
   font-size: 2rem;
   
   
   justify-content: center;
   align-items: end;

   margin: auto;

   bottom:0;
   left:50%;

   animation: infinite carregar2 2000ms;
 }

 .contentVazio{
  width: 100%;
  height: calc(100% - 22px);

  display: block;
  position: absolute;
  
  transform: translate(-50% ,0);

  bottom: 22px;
  left: 50%;

  background-color: #2424248a;
}

.contentAviso2{
  width: 50%;
  height: 50%;

  display: flex;
  position: absolute;

  transform: translate(-50% , 0);
  color: var(--castanho);

  font-family: 'Antonio',sans-serif;
  font-size: 2rem;
  
  
  justify-content: center;
  align-items: end;

  margin: auto;

  bottom:0;
  left:50%;

}

 @keyframes carregar {
   0%{
    background-color: #2424248a;
   }
   50%{
    background-color: #2424243d;
   }
   100%{
    background-color: #2424248a;
   }
 }

 @keyframes carregar2 {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.footerInfoTexto{
  color: var(--castanho4);
}

 /* ... (your initial styles) ... */

@media (max-width: 500px) {
    #efeitoDoMenu2 svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 60%;
        height: auto;
    }
    .botoesMenu2 {
        margin-top: 2%;
        display: grid;
    }
    .botoesMenu2 button {
        border: none;
        color: #7F7866;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: transparent;
        font-family: 'OleoScript', sans-serif;
        font-weight: bold;
        font-style: italic;
    }
    
}

@media (min-width: 501px) and (max-width: 900px) {
    #efeitoDoMenu2 svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 50%;
        height: auto;
    }
    .botoesMenu2 {
        margin-top: 2%;
        display: grid;
    }
    .botoesMenu2 button {
        border: none;
        color: #7F7866;
        cursor: pointer;
        font-size: 1.5rem;
        background-color: transparent;
        font-family: 'OleoScript', sans-serif;
        font-weight: bold;
        font-style: italic;
    }
}

@media (min-width: 901px) {
    #efeitoDoMenu2 svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 30%;
        height: auto;
    }
    .botoesMenu2 button {
        border: none;
        color: #7F7866;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 2rem;
        background-color: transparent;
        font-family: 'OleoScript', sans-serif;
        font-weight: bold;
        font-style: italic;
        padding-top: 2%;
    }
    .butoao1home{
      border-right: 3px solid #DAD2BD;
      padding-right: 12px;
    }
}

.dark{
  filter: brightness(65%) !important;
}

/*LISTAGEM DE ARTIGOS*/
 .container{
  position: relative;
  height:auto;
 }

 .grid-container{
  position: relative;
  display: grid;
 }

.grid-item {
  width: auto;
  height: calc(100% - 30px);
  
  position: relative;
  display: grid;

  grid-template-columns: 16% 16% 16% 16% 16% 16%;

  align-items: center;

  /*padding para nao ficar a tras das laterais*/
  padding-left: 100px;
  padding-right: 100px;
  /*padding para ficar em cima da prateleira*/
  padding-bottom: 30px;
}

/* Alternating background images using nth-child selector */
/*.grid-item:nth-child(odd) {
  background-image: url('PecasArmario/tudoJunto_01.svg');
}

.grid-item:nth-child(even) {
  background-image: url('PecasArmario/tudoJunto_02.svg');
}*/


.caneca{
  display: flex;
  position: relative; 
  
  height: 40%;
  width: 80%;

  flex-direction: column;
  align-items: end;
  justify-content: center;

  margin-top: auto; 

  z-index: 2;

  transform-origin: 50% 75%;
  transform: rotate(0deg);
  filter: saturate(0.75);

  transition-property: filter;
  transition-duration: 550ms;
  transition-timing-function: ease-out;  
}

.caneca img {
  width: 100%;
  height: 100%;

  z-index: 2;
  object-fit: contain;
  object-position: bottom ;
}

.allObj{
  width: 100%;
  height: 100%;

  display: flex;

  position: relative;

  justify-content: center;
  align-items: end;
}

.allObj:hover .hoverPiece{
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.allObj:hover .caneca{
  animation: infinite  oscilar 2000ms;
  filter: saturate(1);
}

.hoverPiece{
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity , width, height;
  transition-duration: 550ms;
  transition-timing-function: ease-out;
}


.efeitoPOP {
  display: flex;

  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 1; 

  align-items: end;

  overflow: hidden;

}

.efeitoPOP img {
  /* Adjust the size of the .efeitoPOP image as needed */
  object-fit: contain;
  object-position: bottom center;

  width: 100%;
  height: 100%;
  margin-bottom: -5%;
}

.visivel{
  visibility: visible;
  opacity: 1;
}

.textoPOP{
  display: flex;

  align-items: end;
  justify-content: center;

  max-width: 40vh;
  width: 100%;
  height: auto;

  position: absolute;
  z-index: 2;

  bottom: 0;
  left: 50%;

  transform: translate(-50%,0);


  color: var(--branco);
  overflow: hidden;
}

.textoPOP svg{
  width: 100%;
  object-fit: contain;
  object-position: bottom center;
  height: 100%;
}


.TextCurv{
  font-family: 'OleoScript',sans-serif;
  fill: var(--branco);
  font-size: 2.5rem;
}

.TextCurv2{
  font-family: 'Antonio',sans-serif;
  fill: var(--branco);
  font-size: 1rem;
  font-weight: 300;
}

#curve{
  fill:transparent;
}



/*LATERAIS DO MOVEL*/
.BarrasLaterais{
  display: block;
  position: sticky;
  width:100%;
  height:100vh;

  z-index:1;

  left: 0;
  top:0;

  overflow: hidden;

  pointer-events : none;
}

.lateralEsq {
  position: absolute;
  top: -1px;
  left: -1px;
  width: auto;
  height: 100%;
  z-index: 20;
}
.lateralDir {
  position: absolute;
  top: -1px;
  right: -1px;
  width: auto; /* Adjust as needed */
  height: 100%;
  z-index: 20;
}

.lateralDir svg {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lateralEsq svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section{
  overflow: visible;
}

.prateleiras{
  overflow: hidden;
  margin-top: -100vh;
}





/*ABOURT*/
.fundoAbout{
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('PecasArmario/tudoJunto_01.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}



.ContentAbout {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin-bottom: 50px;
  display: flex;
}

.ImagemAbout {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.ImagemAbout img {
  width: 100%;
  height: auto;
}

.TextoAbout {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.TextoAbout h1 {
  font-size: 5.7rem; 
  
  font-family: 'Philosopher',sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  padding-bottom: 50px;
  
}
.TextoAbout h2 {
  font-size: 3rem; 
  font-family: 'SquarePeg',sans-serif;
  font-weight:100;
  color: #ffffff;
}


.TextoAbout p {
  font-size: 1.5rem; 
  font-family: 'Philosopher',sans-serif;
  color: #ffffffad;
  font-weight:normal;
  
}
/*tablet*/
@media (max-width: 900px) {
  .ContentAbout {
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
    top:0;
   /* margin-bottom: 0;*/

  }

  .ImagemAbout {
    width: 100%;
    order: 2; 
    align-items: flex-start; 
  }

  .TextoAbout {
    width: auto;
    order: 1; 
    padding: 20px; 
  }

  /* Adjust the background height */
  .fundoAbout {
    overflow-y:auto;
    height: 100%;

  }
  
}


/*PaginaCanecas*/
.fundoCanecas{
  position: absolute;
  top:0;
  left: 0;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  background-image: url('PecasArmario/tudoJunto_01.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}
.ContentCanecas {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin-bottom: 50px;
  display: flex;
  overflow-x: hidden ;
  
}

.ImagemCanecas {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: auto;
  flex-direction: column;
flex-wrap: nowrap;
  padding: 20px;

 
}

.fundopreto img{
  width: 100%;
  height: auto;
}
.ImagemCanecas img {
  width: auto;
  height: 100%;
}

.TextoCanecas {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content at the bottom */
  padding: 20px;
  color: #ffffff; /* Text color */


  
}


.TextoCanecas h2 {
  font-size: 3rem;
  font-family: 'SquarePeg', sans-serif;
  font-weight: 100;
  margin-bottom: 20px; /* Adjust as needed */
  margin-left: 10%;
margin-right: 10%;

}

.TextoCanecas p {

  margin-bottom: 20px; /* Adjust as needed */
  margin-left: 10%;
margin-right: 10%;


font-size: 1.5rem; 
  font-family: 'Philosopher',sans-serif;
  color: #ffffffad;
  font-weight:normal;
}

.divTextoCanecas {
  background-size: cover; /* or contain, depending on your preference */
  background-position: center top;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content at the bottom */
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  justify-content: center;

}

@media (max-width:1000px){
  .grid-item {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (min-width:720px) {
  #efeitoDoMenu svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15%;
    height: auto;
   }
   #botaoMenu svg {
    z-index: 1000;
    left: 50%;
    width: 4%;
    height: auto;
    transform: translate(-50%,0%);
    position: absolute;
      
   }
}
@media (max-width:720px) {
  .headerMenu{
    position: absolute;
    top:0;
    width: 100%;
    height: auto;
  }
  .parte2{
    width: 100%;
  }
  #efeitoDoMenu svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: auto;
   }
  .BarrasLaterais{
    display:none;
  }

  .grid-item {
    grid-template-columns: 50% 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #botaoMenu svg {
    z-index: 1000;
    left: 50%;
    width: 10%;
    height: auto;
    transform: translate(-50%,0%);
    position: absolute;
      
   }

   .prateleiras{
    margin-top: 0vh;
  }

  .parte1{
    display: none;
  }


  
}

/*tablet*/
@media (max-width: 900px) {


  .ContentCanecas {
    overflow: hidden; /* This prevents scrolling on the entire page */
    
      
    
  }
  .ImagemCanecas{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 55vh;
    background-image: url('PecasArmario/tudoJunto_01.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
justify-content: end;
    
   
    margin: 0%;
    padding: 0%;
    padding-bottom: 40px;
   
  
  }
  
 
  .TextoCanecas {
   
    position: absolute;
    bottom:0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height:45vh;
    background-image: url('PecasArmario/background_01.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    padding: 0px;
   
    
  }
  .TextCurvIndividual{
    font-family: 'OleoScript',sans-serif;
    fill: var(--branco);
    font-size: 2rem;
  }

  .fundopreto{
    display: grid;
    width: 100%;
    height: 55vh;
    background-image: url('img/backCollected\ 1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: end;
  }
  .TextoCanecas p {
    overflow-y: scroll; /* Enable scrolling on the paragraph */
    max-height: 100vh; /* Set a maximum height */
  }
  .TextoCanecas h2{
    margin-top: 10%;
  }
.fundoCanecas{
  display: none;
}
  .ContentCanecas {
    flex-direction: column;
    height: 100%;
    width: 100vw;
   z-index: -2;
    overflow-x: hidden;
    top: 0;
    display: block;
   
  }
  .ImagemCanecas img {
    width: 70%;
    order: 2; 
  }


  .ContentCanecas .TextoCanecas{
    overflow-y: scroll;
  }



  .textoPOPIndividual svg{
    width: 100%;
    object-fit: contain;
    object-position: bottom center;
    height: 50%;
  }
  
  .nomeCaneca .text_path{
    font-family: 'OleoScript',sans-serif;
    color: var(--branco);
    font-size: 4rem;
  }
  
}


@media (min-width: 900px) {
.ContentCanecas{
  overflow-y: hidden;
}
  .TextCurvIndividual{
    font-family: 'OleoScript',sans-serif;
    fill: var(--branco);
    font-size: 4rem;
  }

  
 
  .nomeCaneca{
    font-family: 'OleoScript',sans-serif;
    color: var(--branco);
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .fundopreto{
    width: auto;
    height: 100%;
    background-image: url('img/backCollected\ 1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

}


.TextCurvIndividual2{
  font-family: 'Antonio',sans-serif;
  fill: var(--branco);
  font-size: 2rem;
  font-weight: 300;
}

.textoPOPIndividual svg{
  width: 100%;
  object-fit: contain;
  object-position: bottom center;
  height: 100%;
}
 
#curve{
  fill:transparent;
}




/*Menu*/
.menu{
  overflow: hidden;
  z-index: 40;
width: 50%;
height: 100vh;
position: absolute;
top:0;
right: 0;
background-image: url('Coisas-Portas/portas/portaFundo_1.svg');
background-size: cover;
background-position: left center;
    background-repeat: no-repeat;
    display: none;


    
}

.botaoX{
  margin: 10px;
  position: absolute;
  top:0;
  left: 0%;

  filter: brightness(100%);
  transition: filter 250ms linear;
}

.botaoX:hover{
  cursor: pointer;
  filter: brightness(75%);
}

@media (max-width: 900px) {
  .menu{
  width: 100%;
  background-position: center;
  }
  .menumenu{
    overflow: hidden;
    position: relative;
    display: grid;
    width: auto;
   
    height: 90%;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right:10%;
    grid-template-rows: 20% 60% 20%;
    grid-row-gap: 2%;
  }


.menuPages h1 {
 
  position: relative;
  display: flex;
  z-index: 43;
  width: 100%;
  font-size: 2rem;
  justify-content: center;
  color: #877E71;
  font-family: 'OleoScript',sans-serif;
  font-weight: normal;
    
}
.menuFiltros h1{
  position: relative;
  display: flex;
  z-index: 43;
  width: 100%;
  font-size: 2rem;
  justify-content: center;
  color: #877E71;
  font-family: 'OleoScript',sans-serif;
  font-weight: normal;
}
.menuSearch h1{
  position: relative;
  display: flex;
  z-index: 43;
  width: 100%;
  font-size: 2rem;
  justify-content: center;
  color: #877E71;
  font-family: 'OleoScript',sans-serif;
  font-weight: normal;
}
.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 20%;
  background-color: #877e7100;
  border: 4px solid #DAD2BC;

}
}

@media (min-width: 900px) {


  .menuPages h1{
    position: relative;
    display: flex;
    z-index: 43;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    color: #877E71;
    font-family: 'OleoScript',sans-serif;
    font-weight: normal;
  }
  .menuFiltros h1{
    position: relative;
    display: flex;
    z-index: 43;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    color: #877E71;
    font-family: 'OleoScript',sans-serif;
    font-weight: normal;
  }
  .menuSearch h1{
    position: relative;
    display: flex;
    z-index: 43;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    color: #877E71;
    font-family: 'OleoScript',sans-serif;
    font-weight: normal;
  }
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #877e7100;
    border: 4px solid #DAD2BC;
  }
  .menumenu{
    overflow: hidden;
    position: relative;
    display: grid;
    width: auto;
   
    height: 75vh;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 80px;
    margin-right: 60px;
    grid-template-rows: 20% 60% 20%;
    grid-row-gap: 2%;
  }
}

/*Menu Pages*/
.menuPages{
  position: relative;


  height: auto;
  width: 100%;
  left: 0;


  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
    
}
.fundomenuPages{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left: 0%;
  z-index: 40;
}
.fundomenuPages img{
  width: 100%;
  height: 100%;

}



.divmenuPages{
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
 width: 100%;
 margin-top: auto;

 
  height: 100%;
  z-index: 41;
  flex-direction: column;
  justify-content: center;

}

.butoesdivmenuPages{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.butoesdivmenuPages>button:hover{
  filter: brightness(75%);
}

.butoesdivmenuPages>button{
filter: brightness(100%);
transition: filter 250ms linear;
}


.butoesdivmenuPages button:first-child{
  background: url('Coisas-Portas/botoes/botao_01.svg') no-repeat center center; /* Default background */
      background-size: contain;
      border: none;
      color: white; /* Set text color to contrast with the background */
      padding: 10px 20px;
      cursor: pointer;
      font-size: 2rem;
      color: #877E71;
      font-family: 'OleoScript',sans-serif;
      font-weight: normal;
     
}

.butoesdivmenuPages button:last-child{
  background: url('Coisas-Portas/botoes/botao_02.svg') no-repeat center center; /* Default background */
      background-size: contain;
      border: none;
      color: white; /* Set text color to contrast with the background */
      padding: 10px 20px;
      cursor: pointer;
      font-size: 2rem;
      color: #877E71;
      font-family: 'OleoScript',sans-serif;
      font-weight: normal;
     
}


/*Menu Filtrps*/
.menuFiltros{
  position: relative;

  
  height: auto;
  width: 100%;
    

  flex-direction: column;
  /*background-image: url('Coisas-Portas/portas/3x/peca2.png');*/
  background-size: contain;
  background-position: left center;
      background-repeat: no-repeat;
}
.fundomenuFiltros{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left: 0%;
  z-index: 40;
}

.fundomenuFiltros img {
  width: 100%;
  height: 100%; /* Set height to auto to maintain the aspect ratio */
}

.menuFiltros h2{
  margin-left: 5%;
  font-size: 1.3rem;
  color: #877E71;
  font-family: 'OleoScript',sans-serif;
  font-weight: normal;

}
.divmenuFiltros{
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;

  z-index: 41;
  width: 100%;
  height: 100%;
  margin-top: auto;
  flex-direction: column;
  justify-content: center;



}

.butoesdivmenuFiltros{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
  flex-wrap: wrap;

}

.butoesdivmenuFiltros>button:hover{
  filter: brightness(75%);
}

.butoesdivmenuFiltros button{
     background-size: contain;
      border: none;
      color: white; /* Set text color to contrast with the background */
      padding: 10px 20px;
      cursor: pointer;
      font-size: 2rem;
      color: #877E71;
      font-family: 'OleoScript',sans-serif;
      font-weight: normal;
      filter: brightness(100%);
      transition: filter 250ms linear;
}
.butoesdivmenuFiltros button:nth-child(1){
  background: url('Coisas-Portas/botoes/botao_01.svg') no-repeat center center; /* Default background */
    
  background-size: contain; 
}

.butoesdivmenuFiltros button:nth-child(2){
  background: url('Coisas-Portas/botoes/botao_02.svg') no-repeat center center; /* Default background */
  background-size: contain; 
     
}
.butoesdivmenuFiltros button:nth-child(3){
  background: url('Coisas-Portas/botoes/botao_03.svg') no-repeat center center; /* Default background */
  background-size: contain;
     
}




.butoesdivmenuFiltros2{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.divmenuFiltros2{
  position: absolute;
  top:50%;
  left: 0%;
  width: 100%;
  z-index: 41;
}
.butoesdivmenuFiltros2 button{
  background-size: contain;
  border: none;
  color: white; /* Set text color to contrast with the background */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2rem;
  color: #877E71;
  font-family: 'OleoScript',sans-serif;
  font-weight: normal;
  filter: brightness(100%);
  transition: filter 250ms linear;
}

.butoesdivmenuFiltros2>button:hover{
  filter: brightness(75%);
}

.butoesdivmenuFiltros2 button:nth-child(1){
  background: url('Coisas-Portas/botoes/botao_01.svg') no-repeat center center; /* Default background */     
  background-size: contain;


 
}

.butoesdivmenuFiltros2 button:nth-child(2){
  background: url('Coisas-Portas/botoes/botao_02.svg') no-repeat center center; /* Default background */    
  background-size: contain;

}
.butoesdivmenuFiltros2 button:nth-child(3){
  background: url('Coisas-Portas/botoes/botao_03.svg') no-repeat center center; /* Default background */  
  background-size: contain;
}

.butoesdivmenuFiltros2 button:nth-child(4){
  background: url('Coisas-Portas/botoes/botao_04.svg') no-repeat center center; /* Default background */
  background-size: contain;
}


/*Menu Filtrps*/
.menuSearch{
  position: relative;

  
  height: auto;
  width: 100%;
flex-direction: column;
  background-size: contain;
  background-position: left center;
      background-repeat: no-repeat;
    
}
.fundomenuSearch{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left: 0%;
  z-index: 40;
}
.fundomenuSearch img{
  width: 100%;
  height: 100%;

}

.divmenuSearch{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
margin-top: auto;
  left: 0%;
  z-index: 41;
  flex-direction: column;
  justify-content: center;

  top: 0%;


}

.search-container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

#searchInput {
  flex: 1;
  padding: 4px;
  font-size: 16px;

}
 .search-container {
  float: right;
}



.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #DAD2BC;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ffffff;
}

@keyframes oscilar{
  0%{
    transform: rotate(0deg);
    transform-origin: 50% 75%;
  }5%{
    transform: rotate(-3deg);
    transform-origin: 50% 75%;
  }15%{
    transform: rotate(3deg);
    transform-origin: 50% 75%;
  }25%{
    transform: rotate(-3deg);
    transform-origin: 50% 75%;
  }35%{
    transform: rotate(3deg);
    transform-origin: 50% 75%;
  }45%{
    transform: rotate(-3deg);
    transform-origin: 50% 75%;
  }55%{
    transform: rotate(3deg);
    transform-origin: 50% 75%;
  }65%{
    transform: rotate(-3deg);
    transform-origin: 50% 75%;
  }75%{
    transform: rotate(3deg);
    transform-origin: 50% 75%;
  }85%{
    transform: rotate(-3deg);
    transform-origin: 50% 75%;
  }95%{
    transform: rotate(3deg);
    transform-origin: 50% 75%;
  }100%{
    transform: rotate(0deg);
    transform-origin: 50% 75%;
  }
}






/*FOOTER*/

.footerInfo svg{
  
  width: 100%;
  height: auto;
  overflow: hidden;
}

svg{
  overflow: hidden;
}
.footerInfo{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.footerInfoTexto{
  position: absolute;
  display: flex;
  bottom: 0%;
  width: 80%;
  height: 100%;
  /* padding: 3%; */
  padding-left: 10vw;
  padding-right: 10vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  
}

.footerInfoTexto2{
  
  position: relative;
  display: flex;
  width: 50%;
  justify-content: flex-start;

  font-family: 'Philosopher',sans-serif;
  color: #4E4943;
  font-weight:normal;
  font-size: 1rem; 
}


.footerContacts{
  position: relative;
  
  

}

.footerSuport{
  position: relative;
  margin-left: 10%;
}
.footerTextinho{
  position: relative;
  width: 20vw;
  font-family: 'Philosopher',sans-serif;
  color: #4E4943;
  font-weight:normal;
  font-size: 1rem; 
}







@media (max-width: 900px) {
  .footerTextinho{
    position: relative;
    width: 40vw;
  }

    .footerInfoTexto{
    
      width: 90%;
      height: 100%;
      /* padding: 3%; */
      padding-left: 4vw;
      padding-right: 10vw;
      flex-direction: row;
      
      align-items: center;
    }
    .footerInfoTexto2{
      font-size: 0.8rem; 
    }
    .footerTextinho{
      font-size: 0.8rem;
    }
}